/* Variables */

:root {
    --basic-red:#EE3643;
    --basic-green: #63A63E;
    --basic-darkgreen: #518534;
    --basic-grey: #3D546F;
    --basic-greylight: #C5C5C5;
    --basic-lightgrey: #f3f7f9;
    --basic-background: #F1F5F7;
    --basic-white: #ffffff;
    --basic-black: #000000;
    --basic-lightwhite: #f2f6f8;
    --basic-beige: #f7f3ec;
    --basic-whitegrey: #e5e5e5;

  
    --special-yellow: #FFBF47;
    --special-blue:  #3BBCE3;
    --special-lilac: #DC91D8;
    --special-grey: #a9a9a9;
    --special-greenlight: #8ED78F;
    --special-darkgreen: #367315;
    --special-yellowlight: #FFD180;
    --special-greylight: #f9f5f0;
    --special-greyblue: #405069;
    --special-lightgrey: #c1c6ce;
    --special-success: #5FBB2D;
    --special-error: #BA2732;
    --special-bluedark: #293449;
    --special-adress: #32425C;
    --special-darkwhite: #b5b5b5;

    --white-opacity: rgba(255, 255, 255, 0.3);
    --white-halfopacity: rgba(255, 255, 255, 0.5);
    --grey-opacity: rgba(197, 197, 197, 0.3);
    --black-opacitymin: rgba(0, 0, 0, 0.0001);
    --black-halfopacity: rgba(41, 52, 73, 0.5);
    --dark-blue: #1d2739;
    --light-grey: #EAEAEA;
    --basic-darkgradient: linear-gradient(0deg, #212a3a, #212a3a);
    --feedback-color: #f1f1f1;
    --hover-button: #ca2c37;

    --filter-price: #444444;
    --filter-checkbox: rgba(0, 0, 0, 0.4);
  }
  
  /* Global */

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-black);
    background-color: var(--basic-white);
  }

a {
    text-decoration: none;
}  

img {
    max-width: 100%;
    height: auto;
}

.page {
    height: 100%;
  }

  .page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
  }
  

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.button {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-white);
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  box-sizing: border-box;  
  background-color: var(--basic-red);
  border: none;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}
  
.button:active {
  background-color: var(--special-error);
}

/*main-header*/  

.main-header {
  margin-bottom: 60px; 
  padding-bottom: 60px;
  background-color: var(--basic-background); 
}

.main-header-bar {
  background-color: var(--special-bluedark);
  margin-bottom: 42px;
  height: 42px;
}

.main-header-bar .container {
  display: flex;
  align-items: center; 
}

.main-header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(151, 0, 0, 0.24);
  width: 220px;
  padding-top: 12px;
  padding-bottom: 17px;
}

.main-header-logo:active {
  background-color: var(--special-error);
  box-shadow: 0 -5px 0 0 rgba(0, 0, 0, 0.24) inset;
}

.user-nav {
  width: 720px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.user-nav a,
.user-nav input {
font-size: 18px;
line-height: 24px;
font-weight: 400;
color: var(--basic-white);
}

.search {
  position: relative; 
}

.user-nav-search { 
  background: none;
  border: none;
  color: var(--basick-black);
  padding-left: 42px;
  width: 270px;
  height: 35px;
}

.user-nav-search::placeholder {
  color: var(--white);
}
    
.user-nav svg {
  position: absolute;
  top: 8px;
  left: 17px;
  opacity: 0.3;
}
    
.search:hover svg,
.search:focus svg {
  opacity: 1;
}
    
.search:active svg,
.search:active input {
  background-color: var(--basic-white);
  color: var(--basic-black);
}
    
.user-nav-search:focus + .user-nav-search-image path,
.user-nav-search:active + .user-nav-search-image path {
  fill-opacity: 1;
  fill: var(--basic-red);
}

.bookmarks-bar {
  position: relative;
  padding: 7px 23px 8px 26px;
  display: inline-block;
}
    
.bookmarks-bar::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 4px;
  width: 14px;
  height: 16px;
  background-image: url("../img/svg/icon-bookmark.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
}
    
.basket-bar {
  display: block;
  position: relative;
  padding: 7px 9px 9px 35px;
}
    
.basket-bar::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 13px;
  width: 15px;
  height: 15px;
  background-image: url("../img/svg/icon-cart.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.bookmarks-bar:hover::before,
.basket-bar:hover::before,
.bookmarks-bar:focus::before,
.basket-bar:focus::before  {
  opacity: 1;
}

.bookmarks-bar:active::before,
.basket-bar:active::before,
.basket-bar:active,
.bookmarks-bar:active {
  color: var(--white-halfopacity);
  background-color: var(--special-bluedark);
}

.order-bar {
  display: inline-block;
  background-color: var(--basic-green);
  padding-top: 7px;
  padding-bottom: 9px;
  padding-left: 19px;
  padding-right: 17px;
}
    
.order-bar:hover {
  background-color: var(--special-success);
}
    
.order-bar:active {
  color: var(--white-halfopacity);
}

.main-header-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 40px;
}
    
.main-header-text {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: var(--basic-red);
  margin: 0;
  padding: 0;
  margin-left: 31px;
}
    
.contact-tel {
  display: inline-block;
  position: relative;
  padding-left: 78px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 45px;
  font-weight: 700;
  margin: 0;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
  background: var(--basic-lightgrey);
}
    
.contact-tel::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 43px;
  width: 19px;
  height: 19px;
  background-image: url("../img/svg/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
    
.contact-adress {
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-darkblue);
  margin: 0;
  padding: 0;
  padding-left: 16px;
}

.main-header-user-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}
    
.registration {
  margin: 0;
  padding: 12px 24px;
}
    
.checkin {
  padding-right: 27px;
  padding-bottom: 12px;
  padding-top: 15px;
  margin: 0;
  margin-right: 10px;
}
    
.checkin a {
  position: relative;
  padding-left: 45px;
}
    
.checkin a::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 19px;
  width: 20px;
  height: 17px;
  background-image: url(../img/svg/icon-login.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-header-user-item {
  background-color: var(--black-opacitymin);
}
    
.main-header-user-item a {
  display: inline-block;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  font-weight: 400;
}
    
.main-header-user-item a:hover {
  color: var(--basic-red);
}
    
.main-header-user-item a:active {
  color: var(--basic-greylight);
}
    
.main-nav-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  background-color: var(--special-adress);
  box-shadow: 0 -5px 0 0 var(--special-bluedark) inset;
}

.main-nav-item a {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-white);
  padding-top: 16px;
  padding-bottom: 20px;
  padding-left: 28px;
  padding-right: 28px;
}

.main-nav-item:first-child a {
  padding-left: 52px;
}

.main-nav-item:last-child a {
  padding-right: 47px;
}
    
.main-nav-item a:hover {
  background-color: var(--special-bluedark);
  box-shadow: inset 0 -5px 0 0 var(--special-bluedark);
}
    
.main-nav-item a:active {
  background-color: var(--dark-blue);
  box-shadow: inset 0 -5px 0 0 var(--special-bluedark);
  color: var(--white-halfopacity);
}

/*features*/

.features-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: 123px 123px 123px;
  grid-template-columns: 300px 300px 300px;
  gap: 20px;
  color: var(--basic-white);
  margin-bottom: 60px; 
}



.features-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin-left: 23px;
  margin-bottom: 14px;
}

.features-link {
  display: flex;
  align-items: center;
  justify-content: center;  
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: var(--white-opacity);
  color: var(--basic-white);
  width: 135px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 23px;
}

.features-link:hover,
.features-link:focus {
  background-color: var(--grey-opacity);
}

.features-list a:active {
  background-color: var(--grey-opacity);
}

.features--item {
  position: relative;
  padding-top: 22px;
  padding-left: 22px;
}

.features-item--yellow:first-child { 
  background-color: var(--special-yellow);
  background-image: url(../img/svg/icon-1.svg);
  background-repeat: no-repeat;
  background-position: 213px 31px;  
}

.features-item--yellow {
  position: relative;
}

.features-item--yellow .flag{
  position:absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 67px;
  font-size: 0;
  overflow: hidden;
  z-index: 20;
}

.features-item--yellow .flag-new{
    background-image: url("../img/png/Каталог-new.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

.features-item--blue {
  background-color: var(--special-blue);
  background-image: url(../img/svg/icon-2.svg);
  background-repeat: no-repeat;
  background-position: 194px 34px; 
}

.features-item--lilac {
  background-color: var(--special-lilac);
  background-image: url(../img/svg/icon-3.svg);
  background-repeat: no-repeat;
  background-position: 191px 31px;  
}

.features-item--green {
  background-color: var(--special-greenlight);
  background-image: url(../img/svg/icon-4.svg);
  background-repeat: no-repeat;
  background-position: 196px 26px; 
}

.features-item--yellow:last-child { 
  background-color: var(--special-yellow);
  background-image: url(../img/svg/icon-5.svg);
  background-repeat: no-repeat;
  background-position: 191px 32px;  
}

/*slider*/

.features-slider {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  position: relative;
  background-color: var(--basic-greylight); 
}

.features-slide-title {
  position: absolute;
  top: 23px;
  left: 24px;
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-white);
}

.features-slide-text {
  position: absolute;
  top: 48px;
  left: 24px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-white);
}

.features-slide-link {
  position: absolute;
  bottom: 26px;
  left: 24px;
  display: inline-block;
  background-color: var(--basic-red);
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  padding: 11px 46px 9px 46px;
}

.features-slide-link:hover,
.features-slide-link:focus {
  background-color: var(--hover-button);
}

.features-slide-link:active {
  background-color: var(--special-error);
}

.slider-controls {
  position: absolute;
  top: 220px;
  left: 295px;
  z-index: 20;
  display: flex;
  width: 30px;
  justify-content: space-between;
}

.slider-controls button {
  padding: 0;
  width: 10px;
  height: 10px;
  background-color: var(--white);
  border: 2px solid var(--white);
  border-radius: 50%;
  cursor: pointer;
} 

.slide-prv {
  position: absolute;
  top: 122px;
  left: 24px;
  width: 22px;
  height: 40px;
  background-image: url("../img/svg/icon-left.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  }
  
  .slide-next {
  position: absolute;
  top: 122px;
  left: 578px;
  width: 22px;
  height: 40px;
  background-image: url("../img/svg/icon-right.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  }
  
.slider-list {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: none;
}

.slider-current {
  display: block;
}

/*popular product*/

.product {
  margin-bottom: 70px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--special-greylight);
  padding: 0;
  margin-bottom: 20px;
}

.popular-product-title {
  padding: 0;
  margin: 0;
  vertical-align: middle;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--special-adress);
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 28px;
}

.popular-product-link {
  margin: 0;
  padding: 0;
  padding-bottom: 9px;
  padding-top: 11px;
  width: 192px;
  margin-right: 14px;
  background-color: var(--basic-red);
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}

.product-item {
  position: relative;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 220px;
  background-color: var(--basic-white);
  border: 1px solid var(--light-grey);
  box-sizing: border-box;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.product-item .flag{
  position:absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 67px;
  font-size: 0;
  overflow: hidden;
  z-index: 20;
}

.product-item .flag-new{
  background-image: url("../img/png/Каталог-new.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.product-item:hover {
  box-shadow: 0 4px 20px 0 var(--black-halfopacity);
}

.product-basket-actions {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 0;
  background-color: var(--basic-white);
  z-index: 1;
}

.product-item:hover .product-basket-actions,
.product-item:focus .product-basket-actions {
  display: block;
}

.product-item .product-basket-image {
  width: 184px;
  height: 164px;
}

.product-item img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 164px;
  padding-left: 36px;
  padding-top: 2px;
  object-fit: contain;
  background-color: var(--basic-white);
}

.product-item:first-child img {
  padding-left: 18px;
}

.product-actions-buy {
  width: 135px;
  margin: 0 auto 7px auto;
  padding: 10px 20px;
  position: relative;
  background-color: var(--basic-green);
  box-shadow: inset 0 -3px 0 var(--special-darkgreen);
}

.product-actions-buy::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 25px;
  width: 15px;
  height: 15px;
  background-image: url(../img/svg/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
  }

.product-actions-bookmark {
  width: 135px;
  margin: 0 auto 7px auto;
  padding: 10px 20px;
  border: 3px solid var(--basic-green);
  background-color: var(--basic-white);
  color: var(--special-adress);
}

.product-actions-buy:hover,
.product-actions-buy:focus {
  background-color: var(--special-success);
  box-shadow: inset 0px -3px 0px var(--special-darkgreen);
}

.product-actions-buy:active {
  background-color: var(--basic-darkgreen);
  box-shadow: inset 0 -3px 0 var(--basic-darkgreen);
}

.product-actions-bookmark:hover,
.product-actions-bookmark:focus {
  color: var(--special-adress);
  background-color: var(--basic-white);
  border-color: var(--special-adress);
}

.product-actions-bookmark:active {
  color: var(--special-lightgrey);
  background-color: var(--basic-white);
  border-color: var(--special-lightgrey);
}

.product-basket-title {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  padding: 0 25px;
  margin-top: 14px;
  margin-bottom: 8px;
  text-align: center;
}
  
.product-basket-discount {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  min-height:20px;
  margin-top:8px;
  margin-bottom:10px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: var(--special-grey);
}

.product-basket-price {
  position: relative;
  width: 80px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  background-color: var(--basic-red);
  color: var(--basic-white);
  margin: 10px auto;
  padding: 10px 24px;
  margin-bottom: 20px;
  border-radius: 3px;
}

.product-basket-price:after {
  content: '';
  position: absolute;
  top: 0;
  right: -30px;
  width: 0;
  height: 0;
  border: 19px solid var(--basic-white);
  border-left-color: var(--basic-red);
}

/*popular-brands*/

.popular-brands {
  margin-bottom: 50px;
}

.brands-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.brands-item {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  width: 220px;
  min-height: 145px;
  padding-top: 5px;
  margin-bottom: 20px;
  background-color: var(--basic-white);
  border: 1px solid var(--light-grey);
  box-sizing: border-box;
}

.brands-item:hover,
.brands-item:focus {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.brands-item:active {
    opacity: 0.5;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.brands-item a {
  display: inline-block;
}

/*service*/

.service {
  position: relative;
  background-color: var(--basic-background);
  margin-bottom: 60px;
  padding-top: 42px;
}

.service-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-bottom: 24px;
  }
  
  .service-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  width: 396px;
  margin-bottom: 70px;;
}

.service-slider {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: flex-start;
  padding-bottom: 100px;
}

.service-slide-item {
  padding: 0;
  margin: 0;
  display: none;
} 

.service-slide-active {
  display: block;
}

.service-slider-list {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 80px;
}

.service-slider-list::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 279px;
  top: -40px;
  right: 0;
  background-image: url("../img/png/Object.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.service-slider-item {
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  background-color: var(--special-adress);
  box-shadow: 0 1px 0 0 var(--special-bluedark),
              0 1px 0 0 var(--special-greyblue) inset;
  width: 218px;
  padding-top: 14px;
  padding-left: 22px;
  padding-bottom: 18px;
}

.service-slider-item:hover,
.service-slider-item:focus {
background-color: var(--special-bluedark);
box-shadow: 0 1px 0 0 var(--special-bluedark),
            0 1px 0 0 var(--special-greyblue) inset;
color: var(--basic-white);    
}

.service-slider-item:active {
background-color: var(--basic-white);
box-shadow: 0 1px 0 0 var(--basic-white),
            0 1px 0 0 var(--basic-white) inset;
color: var(--special-adress);
}

.slider-item-active {
background-color: var(--basic-white);
box-shadow: 0 1px 0 0 var(--basic-white),
            0 1px 0 0 var(--basic-white) inset;
color: var(--special-adress);
}

.service-slide-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--special-adress);
  padding: 0;
  margin: 0;
  margin-bottom: 27px;
}

.service-slide-text {
  font-family: 'PT Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
}

.credit-main {
  position: relative;
  width: 278px;
}
  
.credit-main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 165px;
  width: 465px;
  height: 285px;
  background-image: url("../img/png/service-3.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
  
.service-slide-link {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 143px;
  left: 0;
  padding: 10px 45px 9px 45px;
  border-radius: 3px;
}

.delivery-main {
  position: relative;
  width: 275px;
}
  
.delivery-main::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 151px;
  width:468px;
  height: 261px;
  background-image: url("../img/png/service-1.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
  
  .garanty-main {
  position: relative;
  width: 331px;
  }
  
  .garanty-main::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 239px;
  width:389px;
  height: 283px;
  background-image: url("../img/png/service-2.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  }

/*company-info*/  

.company-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.company-transport {
  width: 460px;
}

.company-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin: 0;
  margin-bottom: 24px;
  margin-top: 9px;
}

.company-text {
  font-family: 'PT Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
}

.company-text--next {
  width: 440px;
  margin-bottom: 4px;
}

.company-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 9px;
}

.company-item {
  position: relative;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  padding: 0 0 11px 38px;
}

.company-item:before {
  content: '';
  position: absolute;
  top: 11px;
  left: 0;
  width: 25px;
  height: 2px;
  margin-right: 10px;
  background-color: var(--basic-red);
}

.company-link {
  padding: 11px 40px 9px 40px;
  margin: 0;
}

.company-contacts {
  width: 300px;
}

.contacts-map {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-bottom: 15px;
  margin-top: 19px;
}

.open-modal-link {
  padding: 11px 61px 9px 62px;
}

/* footer */

.main-footer {
  background-color: var(--special-adress);
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
  padding-bottom: 54px;
}

.footer-logo {
  display: inline-block;
  vertical-align: middle;
  }
  
.footer-logo img {
  background-color: var(--basic-red);
  box-shadow: 0 -5px 0 0 rgba(0, 0, 0, 0.24) inset;
  margin: 0;
  text-align: center;
  padding: 20px 41px 25px 41px;;
}
  
.footer-logo img:active {
  background-color: var(--basic-error);
  box-shadow: 0 -5px 0 0 rgba(0, 0, 0, 0.24) inset;
}

.footer-nav-list {
  display: flex;
  justify-content: space-between;
  width: 547px;
  margin: 0;
  margin-top: 23px;
  margin-bottom: 5px;
  list-style: none;
}

.footer-nav-link {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-background);
  padding: 15px 0;
}

.footer-nav-link:hover,
.footer-nav-link:focus,
.footer-nav-link--yellow:hover,
.footer-nav-link--yellow:focus {
  text-decoration: underline;
}

.footer-nav-link:active,
.footer-nav-link--yellow:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-nav-items {
  list-style: none;
  display: flex;
  width: 524px;
  margin: 0;
  padding-top: 14px;
  float: right;
  justify-content: space-between;
}

.footer-nav-link--yellow {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--special-yellowlight);
}

.footer-contacts,
.footer-phone {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-background);
  margin: 0;
  margin-left: 5px;
}

.footer-phone {
  display: inline-block;
  vertical-align: middle;
}

.footer-contacts {
  margin-top: 15px;
}

.footer-socials {
  background-color: var(--special-bluedark);
  padding-bottom: 30px;
  padding-top: 20px;
}

.footer-social-inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.copyright {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  width: 227px;
}

.socials-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.socials {
  width: 160px;
  margin: 0;
  margin-left: 123px;
}

.socials-link a {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--basic-darkgradient);
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.socials-link a:hover,
.socials-link a:focus ,
.socials-link a:active  {
background: var(--basic-red);
}

.feedback {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-white);
  width: 137px;
  margin-left: 131px;
  padding-top: 15px;
  }
  
  .feedback a,
  .developer a {
  display: inline-block;
  color: var(--special-yellowlight);
  }
  
  .feedback a:hover,
  .developer a:hover {
  text-decoration: underline;
  }
  
  .feedback a:active,
  .developer a:active {
  text-decoration: none;
  color: var(--basic-red);
  }
  
  .developer {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-white);
  justify-self: end;
  width: 110px;
  padding-top: 15px;
  }
 
/* modal */

.modal,
.modal-cart {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background-color: var(--basic-white);
}

.modal-contact {
  width: 620px;
  height: 430px; 
  padding: 0;  
  box-shadow: 0 4px 20px 0 rgba(0, 1, 1, 0.15);
  border-top: 7px solid var(--basic-red);
  box-sizing: border-box;
}

.modal-show {
    display: block;
    z-index: 3;
    animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 21px;
    height: 21px;
    padding: 10px;
    font-size: 0;
    cursor: pointer;
    z-index: 4;
}

.modal-close:before,
.modal-close:after {
    content: '';
    position: absolute;
    top: 7px;
    right: 17px;
    width: 5px;
    height: 25px;
    background-color: var(--basic-red);
    transform: rotate(45deg);
}

.modal-close:after {
    transform: rotate(-45deg);
}

.modal-content {
  width: 460px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 32px;
}

.modal-form {
  display: flex;
  flex-wrap: wrap;
  padding-right: 0;
  padding-top: 39px;
}

.modal-form-item {
  margin: 0;
}

.modal-form-item:first-child {
  margin-right: 20px;
  margin-bottom: 13px;
}

.modal-content input {
  width: 220px;
}

.contact-form-label {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  line-height: 24px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-weight: 400;
  color: var(--basic-black);
  margin-bottom: 11px;
}

.modal-form textarea {
    width: 460px;
    padding-left: 10px;
}

.modal-content input,
.modal-content textarea {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid var(--basic-greylight);
  box-sizing: border-box;
  border-radius: 2px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--special-grey);
}

.modal-form input[type="text"] {
  padding: 7px 8px 7px 12px;
}
  
.modal-form input[type="email"] {
  padding: 7px 10px 7px 12px;
}

.modal-footer {
  padding: 37px 80px 37px 80px;
  background-color: var(--feedback-color);
}

.button-form {
  border: none;
  padding: 11px 199px 10px 199px;
}

/* Animations */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
/* map */

.map-popup {
  display: none;
}

.map-popup-content {
  width: 943px;
  height: 449px;
  position: relative;
  box-shadow: 0 4px 20px 0 var(--special-blackopacity);
  border-top: 7px solid var(--basic-red);
  box-sizing: border-box;
}

.map-modal-show {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 943px;
  height: 449px;
  z-index: 3;
}

.map-popup img {
  width: 943px;
  height: 449px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
}

.map-popup iframe {
  position: relative;
  z-index: 2;
  border: none;
}

/* catalog */


/* header */

.header-catalog {
  margin-bottom: 0;
}

.user-catalog {
  width: 299px;
  justify-self: end;
  position: relative;
  text-align: center;
}

.user-catalog__link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 56px;
  padding-right: 57px;
  padding-top: 14px;
  padding-bottom: 10px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.user-icon svg {
  position: absolute;
  top: 15px;
  left: 15px;
}

.user-catalog__link_logout svg {
  position: absolute;
  top: 16px;
  right: 17px;
}

.user-icon:hover path,
.user-icon:focus path,
.user-catalog__link_logout:hover path,
.user-catalog__link_logout:focus path {
fill: var(--basic-grey);
}

.user-icon:active path,
.user-catalog__link_logout:active path,
.user-catalog__link:active {
fill: var(--basic-greylight);
color: var(--basic-greylight);
}

.user-catalog__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: 5px;
  margin-left: 44px;
  margin-right: 45px;
  }
  
  .user-catalog__item:first-child {
  list-style: none;
  }
  
  .user-catalog__item:last-child {
  padding-left: 3px;
  }

  .user-catalog__item a {
    display: inline-block;
    vertical-align: middle;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: var(--basic-darkblue);
    }

.user-catalog__item a:hover,
.user-catalog__item a:focus {
  color: var(--basic-red);
}
    
.user-catalog__item a:active {
  color: var(--basic-greylight);
}  
  

/* .catalog-promo {
    background-color: var(--basic-background);
} */

/* breadcrumbs */

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 21px;
}

.breadcrumbs-item a {
  display: inline-block;
  vertical-align: middle;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  padding: 1px 0 21px;
}

.breadcrumbs-item img {
  margin-top: 3px;
  }

.breadcrumbs-arrow {
  position: relative;
  }
  
  .breadcrumbs-item:first-child {
  margin-right: 41px;
  }
  
  .breadcrumbs-arrow::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -26px;
  width: 6.52px;
  height: 10.3px;
  background-image: url("../img/svg/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  }

.catalog {
  margin-bottom: 60px;
}  

.catalog-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--special-adress);
  background-color: var(--basic-lightwhite);
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  padding-top: 28px;
  padding-bottom: 30px;
  padding-left: 29px;
}

/* filters */

.catalog-inner {
  display: grid;
  grid-template-columns: 220px 1fr;
  column-gap: 20px;
  width: 220px;
}

.filter-title {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--basic-black);
}

.filter-header-title{
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-beige);
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 18px; 
}

.product-list-catalog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}

.filter {
  margin: 0;
  padding: 0;
  border: none;
}

.range-controls {
  position: relative;
  min-height: 41px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--basic-beige);
  border-radius: 5px;
  margin-top: 11px;
}

.range-controls .scale {
  height: 2px;
  background-color: #d7dcde;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 28px;
  left: 0;
  border: 8px solid var(--basic-white);
  background: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
  padding: 2px;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  padding-top: 2px;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--filter-price);
}

.price-controls input {
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-black);
  width: 95px;
  text-align: center;
  border: none;
  background-color: var(--basic-beige);
  border-radius: 5px;
  margin-bottom: 40px;
  padding: 0;
  padding: 10px 0;
}

.price-controls-max {
  position: relative;
}

.price-controls-max::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  top: 16px;
  left: -20px;
  background-color: var(--basic-black);
}

.filter-brand .filter-title {
  margin-bottom: 16px;
}

.filter-supply .filter-title {
  margin-bottom: 25px;
}

.filter-brands-list,
.filter-supply-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-brands-list {
  margin-bottom: 47px;
}

.filter-supply-list {
  margin-bottom: 40px;
}

.filter-brands-item,
.filter-supply-item {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.filter-brands-item label,
.filter-supply-item label {
  position: relative;
  display: block;
  cursor: pointer;
  padding-left: 35px;
}

.filter-input[type=checkbox]~label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -3px;
  width: 27px;
  height: 23px;
  background-image: url(../img/png/checkbox-off.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-input[type=checkbox]:checked~label::before {
  background-image: url(../img/png/checkbox-on.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-input[type=checkbox]:hover + label::before,
.filter-input[type=checkbox]:focus + label::before {
border: 2px solid var(--special-darkwhite);
}

.filter-input[type=radio]:hover + label::before,
.filter-input[type=radio]:focus + label::before {
border: 2px solid var(--special-darkwhite);
border-radius: 50%;
}

.filter-input[type=radio]~label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -3px;
  width: 27px;
  height: 27px;
  background-image: url(../img/png/radio-off.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-input[type=radio]:checked~label::before {
  background-image: url(../img/png/radio-on.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-input:disabled + label::before {
  color: var(--filter-checkbox);
  cursor: default;
  opacity: 0.4;
  }
  
  .filter-input:disabled + label {
  color: var(--filter-checkbox);
  cursor: default;
  }

.catalog-button {
  background-color: var(--basic-white);
  border: 1px solid var(--basic-whitegrey);
  box-sizing: border-box;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-black);
  padding: 9px 79px 9px 78px;
}

/* sort */

.sorting {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: var(--basic-beige);
  align-items: center;
  margin-bottom: 28px;
  }
  
  .sorting p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  padding-left: 21px;
  padding-bottom: 10px;
  }
  
  .sorting__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: 140px;
  }
  
  .sorting__item button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-opacityblack);
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  border-bottom: 1px dotted var(--basic-red);
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  cursor: pointer;
  }
  
  .sorting__item:nth-child(1) {
  margin-right: 70px;
  }
  
  .sorting__item:nth-child(2) {
  margin-right: 66px;
  }
  
  .sorting__item:nth-child(3) {
  margin-right: 46px;
  }
  
  .sorting__item:nth-child(4) {
  margin-right: 20px;
  }
  
  .dir-active path {
  fill: var(--basic-red);
  }
  
  .dir:hover path,
  .dir:focus path {
  fill: var(--basic-black);
  }
  
  .dir:active path {
  fill: var(--basic-red);
  }
  
  .sorting__item button:hover,
  .sorting__item button:focus {
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
  }
  
  .sorting__item:active button {
  color: var(--basic-red);
  border-bottom: none;
  }
  
  .sorting__item_active button {
  color: var(--basic-red);
  border-bottom: none;
  }

.catalog-product {
  margin-bottom: 24px;
}  

.product-item-catalog {
  margin-bottom: 20px;
}

  /* paginator */

.catalog-pagination {
  width: 284px;
}
    
.catalog-pagination-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.catalog-pagination-link a {
  display: inline-block;
  vertical-align: middle;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  color: var(--basic-black);
  border: 1px solid var(--basic-whitegrey);
  box-sizing: border-box;
  border-radius: 2px;
  padding:  9px 15px 9px 14px;
  margin-right: 10px;
}
  
.catalog-pagination-link:last-child a {
  padding: 9px 30px 9px 32px;
  margin-right: 0;
}
  
.catalog-pagination-link:last-child {
  text-transform: uppercase;
}
  
.catalog-pagination-link a:hover,
.catalog-pagination-link a:focus {
  border: 1px solid var(--basic-greylight); 
}
  
.catalog-pagination-link a:active {
  border: 1px solid var(--basic-red); 
}
  
.catalog-pagination-link-current a, 
.catalog-pagination-link-current a:hover,
.catalog-pagination-link-current a:focus,
.catalog-pagination-link-current a:active {
  background-color: var(--basic-red);
  color: var(--basic-white);
}
  
.catalog-promo {
  background-color: var(--basic-background);
  padding-top: 64px;
  padding-bottom: 70px;
}

.catalog-promo-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.catalog-promo-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
}

/* modal-cart */

.modal-cart-content {
  width: 620px;
  height: 282px;
  padding: 0;
  padding-top: 66px;
  box-shadow: 0 4px 20px 0 rgba(0, 1, 1, 0.15);
  border-top: 7px solid var(--basic-red);
  box-sizing: border-box;
}

.modal-cart-show {
  display: block;
  z-index: 3;
}

.modal-cart-content p {
  position: relative;
  padding-left: 84px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: var(--basic-black);
  padding: 0;
  margin-bottom: 67px;
  }
  
.modal-cart-content p::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 81px;
  width: 66px;
  height: 66px;
  background-image: url("../img/svg/icon-mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  }

.modal-footer-cart {
  padding: 37px 112px 37px 114px;
  display: flex;
  justify-content: space-between;
}

.modal-cart__checkout {
  padding: 0;
  margin: 0;
  padding: 11px 46px 9px 47px;
}
    
.modal-cart__continue {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--basic-white);
  color: var(--basic-black);
  padding: 0;
  margin: 0;
  padding: 11px 31px 9px 32px;
}