/* Variables */

:root {
    --basic-red:#EE3643;
    --basic-green: #63A63E;
    --basic-darkgreen: #518534;
    --basic-grey: #3D546F;
    --basic-greylight: #C5C5C5;
    --basic-lightgrey: #f3f7f9;
    --basic-background: #F1F5F7;
    --basic-white: #ffffff;
    --basic-black: #000000;
  
    --special-yellow: #FFBF47;
    --special-blue:  #3BBCE3;
    --special-lilac: #DC91D8;
    --special-grey: #a9a9a9;
    --special-greenlight: #8ED78F;
    --special-darkgreen: #367315;
    --special-yellowlight: #FFD180;
    --special-greylight: #f9f5f0;
    --special-greyblue: #405069;
    --special-lightgrey: #c1c6ce;
    --special-success: #5FBB2D;
    --special-error: #BA2732;
    --special-bluedark: #293449;
    --special-adress: #32425C;

    --white-opacity: rgba(255, 255, 255, 0.3);
    --white-halfopacity: rgba(255, 255, 255, 0.5);
    --grey-opacity: rgba(197, 197, 197, 0.3);
    --black-opacitymin: rgba(0, 0, 0, 0.0001);
    --black-halfopacity: rgba(41, 52, 73, 0.5);
    --dark-blue: #1d2739;
    --light-grey: #EAEAEA;
    --basic-darkgradient: linear-gradient(0deg, #212a3a, #212a3a);
    --feedback-color: #f1f1f1;
  }
  
  /* Global */

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-black);
    background-color: var(--basic-white);
  }

a {
    text-decoration: none;
}  

img {
    max-width: 100%;
    height: auto;
}

.page {
    height: 100%;
  }

  .page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
  }
  

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
  


.page-text {
    font-family: 'PT Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
}

.button {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-white);
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  box-sizing: border-box;  
  background-color: var(--basic-red);
  border: none;
}

/*
.button {
  display: inline-block; 
  width: 135px;
  font-size: 14px;
  line-height: 18px;
  margin: 0 auto 7px auto;
  padding: 10px 20px;
  
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
}
*/

  
  .button:hover,
  .button:focus {
    background-color: #ca2c37;
  }
  
  .button:active {
    background-color: var(--special-error);
  }

/*main-header*/  

.main-header {
  margin-bottom: 60px; 
  background-color: var(--basic-background); 
}

.main-header-bar {
  background-color: var(--special-bluedark);
  margin-bottom: 40px;
}

.main-header-bar .container {
  display: flex;
  align-items: center; 
}

.main-header-logo {
  display: inline-block;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(151, 0, 0, 0.24);
  text-align: center;
  width: 220px;
  height: 47px;
  padding-top: 12px;
  margin-right: 42px;
}

.main-header-logo:active {
  background-color: var(--special-error);
  box-shadow: 0 -5px 0 0 rgba(0, 0, 0, 0.24) inset;
}

.user-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-nav a,
.user-nav input {
font-size: 18px;
line-height: 24px;
font-weight: 400;
color: var(--basic-white);
}

.search {
  position: relative; 
}

.user-nav-search { 
  background: none;
  border: none;
  color: var(--basick-black);
  padding-left: 25px;
}

.user-nav-search::placeholder {
  color: var(--white);
}
    
.user-nav svg {
  position: absolute;
  top: 5px;
  left: 0;
  opacity: 0.3;
}
    
.search:hover svg,
.search:focus svg {
  opacity: 1;
}
    
.search:active svg,
.search:active input {
  background-color: var(--basic-white);
  color: var(--basic-black);
}
    
.user-nav-search:focus + .user-nav-search-image path,
.user-nav-search:active + .user-nav-search-image path {
  fill-opacity: 1;
  fill: var(--basic-red);
}

.bookmarks-bar {
  position: relative;
  padding-left: 23px;
  display: inline-block;
}
    
.bookmarks-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 16px;
  background-image: url("../img/svg/icon-bookmark.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
}
    
.basket-bar {
  display: inline-block;
  position: relative;
  padding-left: 23px;
}
    
.basket-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url("../img/svg/icon-cart.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.bookmarks-bar:hover::before,
.basket-bar:hover::before,
.bookmarks-bar:focus::before,
.basket-bar:focus::before  {
  opacity: 1;
}

.bookmarks-bar:active::before,
.basket-bar:active::before,
.basket-bar:active,
.bookmarks-bar:active {
  color: var(--white-halfopacity);
  background-color: var(--special-bluedark);
}

.order-bar {
  display: inline-block;
  background-color: var(--basic-green);
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 19px;
  padding-right: 16px;
}
    
.order-bar:hover {
  background-color: var(--special-success);
}
    
.order-bar:active {
  color: var(--white-halfopacity);
}

.main-header-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
    
.main-header-text {
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
  margin: 0;
  padding: 0;
  margin-left: 29px;
  margin-bottom: 44px;
  width: 197px;
  height: 71px;
}
    
.contact-tel {
  display: inline-block;
  position: relative;
  padding-left: 74px;
  padding-top: 7px;
  padding-bottom: 8px;
  padding-right: 45px;
  font-weight: 700;
  margin: 0;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
  background: var(--basic-lightgrey);
}
    
.contact-tel::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 39px;
  width: 19px;
  height: 19px;
  background-image: url("../img/svg/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
    
.contact-adress {
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-darkblue);
  margin: 0;
  padding: 0;
  margin-top: 11px;
  padding-left: 10px;
}

.main-header-user-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}
    
.registration {
  margin: 0;
  padding: 12px 24px;
}
    
.checkin {
  padding-right: 27px;
  padding-bottom: 12px;
  padding-top: 12px;
  margin: 0;
  margin-right: 10px;
}
    
.checkin a {
  position: relative;
  padding-left: 45px;
}
    
.checkin a::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 19px;
  width: 20px;
  height: 17px;
  background-image: url(../img/svg/icon-login.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-header-user-item {
  background-color: var(--black-opacitymin);
}
    
.main-header-user-item a {
  display: inline-block;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  font-weight: 400;
}
    
.main-header-user-item a:hover {
  color: var(--basic-red);
}
    
.main-header-user-item a:active {
  color: var(--basic-greylight);
}
    
.main-nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  background-color: var(--special-adress);
  box-shadow: 0 -5px 0 0 var(--special-bluedark) inset;
}

.main-nav-item a {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-white);
  padding-top: 16px;
  padding-bottom: 20px;
  padding-left: 28px;
  padding-right: 28px;
}
    
.main-nav-item a:hover {
  background-color: var(--special-bluedark);
  box-shadow: inset 0 -5px 0 0 var(--special-bluedark);
}
    
.main-nav-item a:active {
  background-color: var(--dark-blue);
  box-shadow: inset 0 -5px 0 0 var(--special-bluedark);
  color: var(--white-halfopacity);
}

/*features*/

.features-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: 123px 123px 123px;
  grid-template-columns: 300px 300px 300px;
  gap: 20px;
  color: var(--basic-white);
  margin-bottom: 60px; 
}

.features-slider {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  position: relative;
  background-color: var(--basic-greylight); 
}

.features-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin-left: 20px;
}

.features-link {
  display: inline-block;  
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: var(--white-opacity);
  color: var(--basic-white);
  padding: 10px 20px;
  margin-left: 20px;
}

.features-link:hover,
.features-link:focus {
  background-color: var(--grey-opacity);
}

.features-list a:active {
  background-color: var(--grey-opacity);
}

.features-item--yellow {
  position: relative;  
  background-color: var(--special-yellow);
}

.features-item--yellow .flag{
  position:absolute;
  top: 0;
  right: 0;
  width: 63px;
  height: 60px;
  font-size: 0;
  overflow: hidden;
  z-index: 20;
}

.features-item--yellow .flag-new{
    background-image: url("../img/png/Каталог-new.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

.features-item--yellow:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 30px;
  right: 40px;
  width: 44px;
  height: 65px;
  background-image: url(../img/svg/icon-1.svg);
  background-repeat: no-repeat;
  background-position: 0 0;  
}



.features-item--blue {
  position: relative;
  background-color: var(--special-blue);
}

.features-item--blue::before {
  content: "";
  position: absolute;
  top: 30px;
  right: 40px;
  width: 75px;
  height: 61px;
  background-image: url(../img/svg/icon-2.svg);
  background-repeat: no-repeat;
  background-position: 0 0;  
}
  

.features-item--lilac {
  position: relative;
  background-color: var(--special-lilac);
}

.features-item--lilac::before {
  content: "";
  position: absolute;
  top: 30px;
  right: 40px;
  width: 78px;
  height: 62px;
  background-image: url(../img/svg/icon-3.svg);
  background-repeat: no-repeat;
  background-position: 0 0;  
}
  

.features-item--green {
  position: relative;
  background-color: var(--special-greenlight);
}

.features-item--green::before {
  content: "";
  position: absolute;
  top: 30px;
  right: 40px;
  width: 59px;
  height: 72px;
  background-image: url(../img/svg/icon-4.svg);
  background-repeat: no-repeat;
  background-position: 0 0;  
}

.features-item--yellow:last-child::before {
  content: "";
  position: absolute;
  top: 30px;
  right: 40px;
  width: 78px;
  height: 63px;
  background-image: url(../img/svg/icon-5.svg);
  background-repeat: no-repeat;
  background-position: 0 0;  
}

/*slider*/

.features-slide-title {
  position: absolute;
  top: 23px;
  left: 24px;
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-white);
}

.features-slide-text {
  position: absolute;
  top: 48px;
  left: 24px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-white);
}

.features-slide-link {
  position: absolute;
  bottom: 26px;
  left: 24px;
  display: inline-block;
  background-color: var(--basic-red);
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  padding: 11px 46px 9px 46px;
}

.slider-current {
  display: block;
}

.slide {
  display: none;
}

.slider-controls {
  position: absolute;
  top: 220px;
  left: 295px;
  z-index: 20;
  display: flex;
  width: 30px;
  justify-content: space-between;
}

.slider-controls button {
  padding: 0;
  width: 10px;
  height: 10px;
  background-color: var(--white);
  border: 2px solid var(--white);
  border-radius: 50%;
  cursor: pointer;
} 

.slider-controls .checked-button {
  background-color: var(--basic-red);
}

.slider-prv {
  position: absolute;
  top: 122px;
  left: 24px;
  width: 22px;
  height: 40px;
  background-image: url("../img/svg/icon-left.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  }
  
  .slider-next {
  position: absolute;
  top: 122px;
  left: 578px;
  width: 22px;
  height: 40px;
  background-image: url("../img/svg/icon-right.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  }
  
.slider-list {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}  
/*
.features-slider {
  position: relative;
  display: block;
  width: 620px;
  height: 266px;
  background-color: var(--basic-greylight); 
}

.slider_btn {
  position: absolute;
  top: 114px;
  width: 22px;
  height: 40px;
  border: none;
}

.btn-prev {
  left: 25px;
  background-image: url("../img/svg/icon-left.svg");
  background-repeat: no-repeat;
}

.btn-next {
  right: 20px;
  background-image: url("../img/svg/icon-right.svg");
  background-repeat: no-repeat;
}

.slider-item {
  display: none;
  width: 100%;
  height: 100%;
  padding: 20px 24px;
}

.slider-item:nth-child(1) { 
  background-image: url(../img/slider-1.jpg);
  background-repeat: no-repeat;
}
.slider-item:last-child {
  background-image: url(../img/slider-2.jpg);
  background-repeat: no-repeat;
}



.slider-controls-item {
	display: block;
	width: 10px;
	height: 10px;
	margin-right: 10px;
	background-color: #ffffff;
	border: 2px solid #ffffff;
	border-radius: 50%;
}

.slider-controls-item:last-child {
  margin-right: 0;
}

.slider-input.slider-1:checked ~ .slider-list li:nth-child(1),
.slider-input.slider-2:checked ~ .slider-list li:nth-child(2) {
	display: block;
}

.slider-input.slider-1:checked ~ .slider-controls .slider-controls-item:nth-child(1),
.slider-input.slider-2:checked ~ .slider-controls .slider-controls-item:nth-child(2) {
	background-color: #ee3643;
}

.slider-input.slider-1:focus,
.slider-input.slider-2:focus {
	outline: none;
}

.slider-input.slider-1:focus ~ .slider-controls .slider-controls-item:nth-child(1),
.slider-input.slider-2:focus ~ .slider-controls .slider-controls-item:nth-child(2) {
	outline: 2px solid #e8cd00;
}

.slider-input.slider-1:disabled ~ .slider-controls .slider-controls-item:nth-child(1),
.slider-input.slider-1:checked:disabled ~ .slider-controls .slider-controls-item:nth-child(1),
.slider-input.slider-2:disabled ~ .slider-controls .slider-controls-item:nth-child(2),
.slider-input.slider-2:checked:disabled ~ .slider-controls .slider-controls-item:nth-child(2) {
	background-color: #666666;
}
*/
/* 
/*
.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 36px;
  z-index: 100;
  
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}
*//*
.promo-sliders__btn-prev,
.promo-sliders__btn-next {
  position: absolute;
  top: 112px;

  padding: 0;
  width: 42px;
  height: 60px;

  cursor: pointer;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.promo-sliders__btn-prev {
  left: 15px;

  background-image: url("../img/svg/icon-left.svg");
}

.promo-sliders__btn-next {
  right: 11px;

  background-image: url("../img/svg/icon-right.svg");
}

.promo-sliders__knob {
  position: relative;

  display: block;
  width: 10px;
  height: 10px;
  padding: 6px;

  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.promo-sliders__knob::before {
  position: absolute;
  content: "";

  width: 10px;
  height: 10px;

  border-radius: 50%;
  background: var(--color-white-01);
}

.promo-sliders__input:checked+.promo-sliders__knob::after {
  position: absolute;
  content: "";
  top: calc(50% - 3px);
  left: calc(50% - 3px);

  width: 6px;
  height: 6px;

  background-color: var(--color-red-01);
  border-radius: 50%;
}

.promo-sliders__input:focus+.promo-sliders__knob {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
} */

/*
.slider-controls label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  border: 2px solid var(--basic-white);
  background-color: var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}
*/
/* 
} */

/*  */
/* 
#product-1:checked ~ .features-slider .slider-item:nth-child(4),
#product-2:checked ~ .features-slider .slider-item:last-child {
  display: block;
} */
/*
#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before {
  content: "";
  
  position: absolute;
  top: -108px;
  left: -270px;
  
  width: 22px;
  height: 40px;
  
  background-image: url(../img/svg/icon-left.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before {
  content: "";
    
  position: absolute;
  top: -108px;
  left: -270px;
    
  width: 22px;
  height: 40px;
    
  background-image: url(../img/svg/icon-left.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::after,
#product-2:checked ~ .slider-controls .slider-controls-item--2::after {
  content: "";
    
  position: absolute;
  top: -108px;
  left: 256px;
    
  width: 22px;
  height: 40px;
    
  background-image: url(../img/svg/icon-right.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
*/
/*popular product*/

.catalog-product {
  margin-bottom: 70px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--special-greylight);
  padding: 0;
  margin-bottom: 20px;
}

.popular-product-title {
  padding: 0;
  margin: 0;
  vertical-align: middle;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--special-adress);
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 28px;
}

.popular-product-link {
  margin: 0;
  padding: 0;
  padding-bottom: 9px;
  padding-top: 11px;
  padding-left: 24px;
  padding-right: 24px;
  width: 192px;
  margin-right: 14px;
  background-color: var(--basic-red);
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
}

.product-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-item {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 220px;
  min-height: 318px;
  background-color: var(--basic-white);
  border: 1px solid var(--light-grey);
  box-sizing: border-box;
}

.product-item .flag{
  position:absolute;
  top: 0;
  right: 0;
  width: 63px;
  height: 60px;
  font-size: 0;
  overflow: hidden;
  z-index: 20;
}

.product-item .flag-new{
  background-image: url("../img/png/Каталог-new.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.product-item:hover {
  border-color: var(--basic-white);
  box-shadow: 0 10px 25px var(--black-halfopacity);
}

.product-basket-actions {
  display: none;
  position: absolute;
  top: 1px;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 42px 0 42px 0;
  background-color: var(--basic-white);
  z-index: 10;
}

.product-item:hover .product-basket-actions {
  display: block;
}

.product-basket-image {
  width: 218px;
  height: 168px;
}

.product-actions-buy {
  width: 135px;
  margin: 0 auto 7px auto;
  padding: 10px 20px;
  position: relative;
  background-color: var(--basic-green);
  box-shadow: inset 0 -3px 0 var(--special-darkgreen);
}

.product-actions-buy::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 25px;
  width: 15px;
  height: 15px;
  background-image: url(../img/svg/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
  }

.product-actions-bookmark {
  width: 135px;
  margin: 0 auto 7px auto;
  padding: 10px 20px;
  border: 3px solid var(--basic-green);
  background-color: var(--basic-white);
  color: var(--special-adress);
}

.product-actions-buy:hover,
.product-actions-buy:focus {
  background-color: var(--special-success);
  box-shadow: inset 0px -3px 0px var(--special-darkgreen);
}

.product-actions-buy:active {
  background-color: var(--basic-darkgreen);
  box-shadow: inset 0 -3px 0 var(--basic-darkgreen);
}

.product-actions-bookmark:hover,
.product-actions-bookmark:focus {
  color: var(--special-adress);
  background-color: var(--basic-white);
  border-color: var(--special-adress);
}

.product-actions-bookmark:active {
  color: var(--special-lightgrey);
  background-color: var(--basic-white);
  border-color: var(--special-lightgrey);
}

.product-basket-title {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}
  
.product-basket-discount {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  min-height:20px;
  margin-top:15px;
  margin-bottom:10px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: var(--special-grey);
}

.product-basket-price {
  position: relative;
  width: 80px;
  margin: 0 0 20px 42px;
  padding: 10px 30px;
  overflow: hidden;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--basic-red);
  color: var(--basic-white);
  border-radius: 3px;
}

.product-basket-price:after {
  content: '';
  position: absolute;
  top: 0;
  right: -19px;
  width: 0;
  height: 0;
  border: 22px solid var(--basic-white);
  border-left-color: var(--basic-red);
}

/*popular-brands*/

.popular-brands {
  margin-bottom: 70px;
}

.brands-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.brands-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  min-height: 145px;
  background-color: var(--basic-white);
  border: 1px solid var(--light-grey);
  box-sizing: border-box;
  margin-top: 20px;
}

.brands-item:hover,
.brands-item:focus {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.brands-item:active {
    opacity: 0.5;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.brands-item a {
  display: inline-block;
}

/*service*/

.service {
  position: relative;
  background-color: var(--basic-background);
  margin-bottom: 60px;
  padding-top: 42px;
}

.service-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-bottom: 24px;
  }
  
  .service-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  width: 396px;
  margin-bottom: 71px;;
}

.service-slider {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: flex-start;
  padding-bottom: 100px;
}

.service-slide-item {
  padding: 0;
  margin: 0;
  display: none;
} 

.service-slide-active {
  display: block;
}

.service-slider-list {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 80px;
}

.service-slider-list::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 279px;
  top: -40px;
  right: 0;
  background-image: url("../img/png/Object.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.service-slider-item {
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  background-color: var(--special-adress);
  box-shadow: 0 1px 0 0 var(--special-bluedark),
              0 1px 0 0 var(--special-greyblue) inset;
  width: 218px;
  padding-top: 14px;
  padding-left: 22px;
  padding-bottom: 18px;
}

.service-slider-item:hover,
.service-slider-item:focus {
background-color: var(--special-bluedark);
box-shadow: 0 1px 0 0 var(--special-bluedark),
            0 1px 0 0 var(--special-greyblue) inset;
color: var(--basic-white);    
}

.service-slider-item:active {
background-color: var(--basic-white);
box-shadow: 0 1px 0 0 var(--basic-white),
            0 1px 0 0 var(--basic-white) inset;
color: var(--special-adress);
}

.slider-item-active {
background-color: var(--basic-white);
box-shadow: 0 1px 0 0 var(--basic-white),
            0 1px 0 0 var(--basic-white) inset;
color: var(--special-adress);
}

.service-slide-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--special-adress);
  padding: 0;
  margin: 0;
  margin-bottom: 27px;
}

.service-slide-text {
  font-family: 'PT Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
}

.credit-main {
  position: relative;
  width: 278px;
}
  
.credit-main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 165px;
  width: 465px;
  height: 285px;
  background-image: url("../img/png/service-3.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
  
.service-slide-link {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 143px;
  left: 0;
  padding: 10px 45px 9px 45px;
  border-radius: 3px;
}

.delivery-main {
  position: relative;
  width: 275px;
}
  
.delivery-main::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 151px;
  width:468px;
  height: 261px;
  background-image: url("../img/png/service-1.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
  
  .garanty-main {
  position: relative;
  width: 331px;
  }
  
  .garanty-main::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 239px;
  width:389px;
  height: 283px;
  background-image: url("../img/png/service-2.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  }

/*company-info*/  

.company-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.company-transport {
  width: 460px;
}

.company-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.company-text {
  font-family: 'PT Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
}

.company-text:last-child {
  width: 440px;
}

.company-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
}

.company-item {
  position: relative;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  padding: 0 0 20px 35px;
}

.company-item:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 25px;
  height: 2px;
  margin-right: 10px;
  background-color: var(--basic-red);
}

.company-link {
  padding: 11px 40px 9px 40px;
  margin: 0;
}

.company-contacts {
  width: 300px;
}

.contacts-map {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-bottom: 15px;
}

.open-modal-link {
  padding: 11px 61px 9px 62px;
}

/* footer */

.main-footer {
  background-color: var(--special-adress);
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
}

.footer-logo {
  display: inline-block;
  vertical-align: middle;
  }
  
.footer-logo img {
  background-color: var(--basic-red);
  box-shadow: 0 -5px 0 0 rgba(0, 0, 0, 0.24) inset;
  margin: 0;
  text-align: center;
  padding: 20px 41px 25px 41px;;
}
  
.footer-logo img:active {
  background-color: var(--basic-error);
  box-shadow: 0 -5px 0 0 rgba(0, 0, 0, 0.24) inset;
}

.footer-nav-list {
  display: flex;
  justify-content: space-between;
  width: 547px;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 5px;
  list-style: none;
}

.footer-nav-link {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-background);
  padding: 15px 0;
}

.footer-nav-link:hover,
.footer-nav-link:focus,
.footer-nav-link--yellow:hover,
.footer-nav-link--yellow:focus {
  text-decoration: underline;
}

.footer-nav-link:active,
.footer-nav-link--yellow:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-nav-items {
  list-style: none;
  display: flex;
  width: 524px;
  margin: 0;
  padding-bottom: 58px;
  justify-content: space-between;
}

.footer-nav-link--yellow {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--special-yellowlight);
}

.footer-contacts,
.footer-phone {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-background);
  margin: 0;
}

.footer-phone {
  display: inline-block;
  vertical-align: middle;
}

.footer-contacts {
  margin-top: 20px;
}

.footer-socials {
  background-color: var(--special-bluedark);
  padding-bottom: 30px;
  padding-top: 20px;
}

.footer-social-inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.copyright {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  width: 227px;
}

.socials-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.socials {
  width: 160px;
  margin: 0;
  margin-left: 120px;
}

.socials-link a {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--basic-darkgradient);
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.socials-link a:hover,
.socials-link a:focus ,
.socials-link a:active  {
background: var(--basic-red);
}

.feedback {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-white);
  width: 137px;
  margin-left: 120px;
  }
  
  .feedback a,
  .developer a {
  display: inline-block;
  color: var(--special-yellowlight);
  }
  
  .feedback a:hover,
  .developer a:hover {
  text-decoration: underline;
  }
  
  .feedback a:active,
  .developer a:active {
  text-decoration: none;
  color: var(--basic-red);
  }
  
  .developer {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-white);
  justify-self: end;
  width: 98px;
  }
 
/* modal */

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  margin: auto;
  overflow: auto;
  background-color: var(--basic-white);
}

.modal-contact {
  width: 620px;
  height: 430px; 
  padding: 0;  
  box-shadow: 0 4px 20px 0 rgba(0, 1, 1, 0.15);
  border-top: 7px solid var(--basic-red);
  box-sizing: border-box;
}

.modal-show {
    display: block;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 21px;
    height: 21px;
    padding: 10px;
    font-size: 0;
    cursor: pointer;
}

.modal-close:before,
.modal-close:after {
    content: '';
    position: absolute;
    top: 7px;
    right: 17px;
    width: 5px;
    height: 25px;
    background-color: var(--basic-red);
    transform: rotate(45deg);
}

.modal-close:after {
    transform: rotate(-45deg);
}

.modal-content {
  width: 460px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 32px;
}

.modal-form {
  display: flex;
  flex-wrap: wrap;
  padding-right: 0;
  padding-top: 39px;
}

.modal-form-item {
  margin: 0;
}

.modal-form-item:first-child {
  margin-right: 20px;
  margin-bottom: 13px;
}

.modal-content input {
  width: 220px;
}

.contact-form-label {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  line-height: 24px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-weight: 400;
  color: var(--basic-black);
  margin-bottom: 11px;
}

.modal-form textarea {
    width: 460px;
    padding-left: 10px;
}

.modal-content input,
.modal-content textarea {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid var(--basic-greylight);
  box-sizing: border-box;
  border-radius: 2px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--special-grey);
}

.modal-form input[type="text"] {
  padding: 7px 8px 7px 12px;
}
  
.modal-form input[type="email"] {
  padding: 7px 10px 7px 12px;
}

.modal-footer {
  padding: 37px 80px 37px 80px;
  background-color: var(--feedback-color);
}

.button-form {
  border: none;
  padding: 11px 199px 10px 199px;
}
/* map */

.map-popup {
  display: none;
}

.map-popup-content {
  width: 943px;
  height: 449px;
  position: relative;
  box-shadow: 0 4px 20px 0 var(--special-blackopacity);
  border-top: 7px solid var(--basic-red);
  box-sizing: border-box;
}

.map-modal-show {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 943px;
  height: 449px;
  z-index: 3;
}

/*catalog
*/

.catalog-promo {
    background-color: var(--basic-background);
}

.breadcrumbs-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrumbs-item a {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 10px;
    color: var(--basic-black);
}

.catalog-title {
    background-color: #f2f6f8;
}

.catalog-inner {
    display: flex;
}

.product-list-catalog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}

.sort {
    display: flex;
    justify-content: space-between;
    background-color: #f7f3ec; 
    
}

.sort a {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 10px;
    color: var(--basic-black);
    text-decoration: underline;
    opacity: 0.3;
}

.sort-title {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 400;
}

.filter-title {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
    
}

.filter-header-title{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 400;
    background-color: #f7f3ec; 
}

.filter {
    display: flex;
    flex-direction: column;
    padding: 0 0 25px 0;
    margin: 0 0 17px 0;
    border: none;
    border-bottom: 1px solid #e5e5e5;
    width: 220px;
}

.catalog-filters {
    margin-right: 15px;
}

.range-controls {
    position: relative;
    min-height: 41px;
    margin-bottom: 9px;
    padding: 39px 20px 0 20px;
    background-color: #f7f3ec;
    border-radius: 3px;
}

.range-controls .scale {
    height: 2px;
    background-color: #d7dcde;
}

.range-controls .bar {
    height: 2px;
    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0;
    width: 4px;
    height: 4px;
    border: 8px solid #ffffff;
    background: #ababab;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 20px;
}

.range-controls .toggle-max {
    left: 158px;
}

.price-controls {
    font-size: 0;
    line-height: 18px;
}

.price-controls-min {
    float: left;
    width: 117px;
}

.price-controls-min:after {
    content: '—';
    padding: 10px 8px;
    font-size: 17px;
}

.price-controls-max {
    width: 95px;
    float: right;
}

.price-controls input[type='text'] {
    width: 79px;
    margin: 0;
    padding: 8px;
    border: none;
    font-size: 17px;
    text-align: center;
    background-color: #f7f3ec;
    border-radius: 3px;
}

