/* Variables */

:root {
  --basic-red:#EE3643;
  --basic-green: #63A63E;
  --basic-darkgreen: #518534;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-lightgrey: #f3f7f9;
  --basic-background: #F1F5F7;
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-lightwhite: #f2f6f8;
  --basic-beige: #f7f3ec;
  --basic-whitegrey: #e5e5e5;
 
  --special-yellow: #FFBF47;
  --special-blue:  #3BBCE3;
  --special-lilac: #DC91D8;
  --special-grey: #a9a9a9;
  --special-greenlight: #8ED78F;
  --special-darkgreen: #367315;
  --special-yellowlight: #FFD180;
  --special-greylight: #f9f5f0;
  --special-greyblue: #405069;
  --special-lightgrey: #c1c6ce;
  --special-success: #5FBB2D;
  --special-error: #BA2732;
  --special-bluedark: #293449;
  --special-adress: #32425C;
  --special-darkwhite: #b5b5b5;

  --white-opacity: rgba(255, 255, 255, 0.3);
  --white-halfopacity: rgba(255, 255, 255, 0.5);
  --grey-opacity: rgba(197, 197, 197, 0.3);
  --black-opacitymin: rgba(0, 0, 0, 0.0001);
  --black-halfopacity: rgba(41, 52, 73, 0.5);
  --dark-blue: #1d2739;
  --light-grey: #EAEAEA;
  --basic-darkgradient: linear-gradient(0deg, #212a3a, #212a3a);
  --feedback-color: #f1f1f1;
  --hover-button: #ca2c37;

  --filter-price: #444444;
  --filter-range: #d7dcde;
  --filter-control: #00ca74;
  --filter-toggle: #ababab;
  --filter-shadow: #cfcfcf;
  --filter-checkbox: rgba(0, 0, 0, 0.4);
}
  
  /* Global */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;

  font-family: 'Cuprum', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-black);

  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}  

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100%;
}
  

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.button {
  display: inline-block;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: var(--basic-white);
  
  box-sizing: border-box;  
  background-color: var(--basic-red);
  border: none;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}
  
.button:active {
  background-color: var(--special-error);
}

/*main-header*/  

.main-header {
  margin-bottom: 60px; 
  padding-bottom: 60px;

  background-color: var(--basic-background); 
}

.main-header-bar {
  margin-bottom: 42px;
  height: 42px;

  background-color: var(--special-bluedark);
}

.main-header-bar .container {
  display: flex;
  align-items: center; 
}

.main-header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  padding-top: 12px;
  padding-bottom: 17px;

  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(151, 0, 0, 0.24); 
}

.main-header-logo:active {
  background-color: var(--special-error);
  box-shadow: 0 -5px 0 0 rgba(0, 0, 0, 0.24) inset;
}

.user-nav {
  position: relative;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 720px;
}

.user-nav a,
.user-nav input {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.search {
  position: relative; 
}

.user-nav-search { 
  width: 270px;
  height: 35px;
  padding-left: 42px;

  color: var(--basick-black);

  background: none;
  border: none;
  outline: transparent;
}

.user-nav-search::placeholder {
  color: var(--basic-white);
}
    
.user-nav svg {
  position: absolute;
  top: 8px;
  left: 17px;
  opacity: 0.3;
}
    
.search:hover svg,
.search:focus svg {
  opacity: 1;
}
    
.search:active svg,
.search:active input,
.search:focus .user-nav-search:focus,
.search:active .user-nav-search:active {
  color: var(--basic-black);
  background-color: var(--basic-white);
}
    
.user-nav-search:focus + .user-nav-search-image path,
.user-nav-search:active + .user-nav-search-image path {
  fill-opacity: 1;
  fill: var(--basic-red);
}

.user-nav-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.bookmarks-bar {
  position: relative;

  display: block;
  padding: 7px 38px 8px 43px; 
}
    
.bookmarks-bar::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 20px;
  width: 14px;
  height: 16px;
  background-image: url("../img/svg/icon-bookmark.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
}
    
.basket-bar {
  position: relative;

  display: block;
  padding: 6px 27px 9px 35px;
  margin: 0;
}
    
.basket-bar::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 12px;
  width: 15px;
  height: 15px;
  background-image: url("../img/svg/icon-cart.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.bookmarks-bar:hover::before,
.basket-bar:hover::before,
.bookmarks-bar:focus::before,
.basket-bar:focus::before  {
  opacity: 1;
}

.basket-bar:active,
.bookmarks-bar:active {
  color: var(--white-halfopacity);
  background-color: var(--special-bluedark);
}

.bookmarks-bar:active::before,
.basket-bar:active::before {
  opacity: 0.3;
}

.order-bar {
  display: inline-block;
  padding-top: 7px;
  padding-bottom: 9px;
  padding-left: 19px;
  padding-right: 17px;

  background-color: var(--basic-green); 
}
    
.order-bar:hover {
  background-color: var(--special-success);
}
    
.order-bar:active {
  color: var(--white-halfopacity);
}

.main-header-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 40px;
}
    
.main-header-text {
  margin: 0;
  padding: 0;
  margin-left: 31px;

  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}
    
.contact-tel {
  position: relative;

  display: inline-block;
  margin: 0;
  padding-left: 78px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 45px;
 
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
 
  background-color: var(--basic-lightgrey);
  border: 3px solid var(--basic-white);
}
    
.contact-tel::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 43px;
  width: 19px;
  height: 19px;
  background-image: url("../img/svg/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
    
.contact-adress {
  margin: 0;
  padding: 0;
  padding-left: 16px;

  font-size: 14px;
  line-height: 24px;
  color: var(--basic-darkblue);
}

.main-header-user-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;

  list-style: none;
}
    
.registration {
  margin: 0;
  padding: 12px 24px;
}
    
.checkin {
  padding-right: 27px;
  padding-bottom: 12px;
  padding-top: 15px;
  margin: 0;
  margin-right: 10px;
}
    
.checkin a {
  position: relative;

  padding-left: 45px;
}
    
.checkin a::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 19px;
  width: 20px;
  height: 17px;
  background-image: url(../img/svg/icon-login.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-header-user-item {
  background-color: var(--black-opacitymin);
}
    
.main-header-user-item a {
  display: inline-block;

  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}
    
.main-header-user-item a:hover {
  color: var(--basic-red);
}
    
.main-header-user-item a:active {
  color: var(--basic-greylight);
}
    
.main-nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;

  list-style: none;
  
  background-color: var(--special-adress);
  box-shadow: 0 -5px 0 0 var(--special-bluedark) inset;
}

.main-nav-item a {
  display: block;
  padding-top: 16px;
  padding-bottom: 20px;
  padding-left: 28px;
  padding-right: 28px;

  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.main-nav-item:first-child a {
  padding-left: 52px;
}

.main-nav-item:last-child a {
  padding-right: 47px;
}
    
.main-nav-item a:hover {
  background-color: var(--special-bluedark);
  box-shadow: inset 0 -5px 0 0 var(--special-bluedark);
}
    
.main-nav-item a:active {
  color: var(--white-halfopacity);
  background-color: var(--dark-blue);
  box-shadow: inset 0 -5px 0 0 var(--special-bluedark);
}

/*features*/

.features-list {
  display: grid;
  grid-template-rows: 123px 123px 123px;
  grid-template-columns: 300px 300px 300px;
  gap: 20px;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
  
  list-style: none;
  color: var(--basic-white);
}

.features-title {
  margin-left: 23px;
  margin-bottom: 14px;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.features-link {
  display: flex;
  align-items: center;
  justify-content: center;  
  width: 135px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 23px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  
  background-color: var(--white-opacity);
}

.features-link:hover,
.features-link:focus {
  background-color: var(--grey-opacity);
}

.features-list a:active {
  background-color: var(--grey-opacity);
}

.features--item {
  position: relative;
  padding-top: 22px;
  padding-left: 22px;
}

.features-item--yellow:first-child { 
  background-color: var(--special-yellow);
  background-image: url(../img/svg/icon-1.svg);
  background-repeat: no-repeat;
  background-position: 213px 31px;  
}

.features-item--yellow {
  position: relative;
}

.features-item--yellow .flag{
  position:absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 67px;
  font-size: 0;
  overflow: hidden;
  z-index: 20;
}

.features-item--yellow .flag-new{
    background-image: url("../img/png/Каталог-new.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

.features-item--blue {
  background-color: var(--special-blue);
  background-image: url(../img/svg/icon-2.svg);
  background-repeat: no-repeat;
  background-position: 194px 34px; 
}

.features-item--lilac {
  background-color: var(--special-lilac);
  background-image: url(../img/svg/icon-3.svg);
  background-repeat: no-repeat;
  background-position: 191px 31px;  
}

.features-item--green {
  background-color: var(--special-greenlight);
  background-image: url(../img/svg/icon-4.svg);
  background-repeat: no-repeat;
  background-position: 196px 26px; 
}

.features-item--yellow:last-child { 
  background-color: var(--special-yellow);
  background-image: url(../img/svg/icon-5.svg);
  background-repeat: no-repeat;
  background-position: 191px 32px;  
}

/*slider*/

.features-slider {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  
  background-color: var(--basic-greylight); 
}

.features-slide-title {
  position: absolute;
  top: 23px;
  left: 24px;
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.features-slide-text {
  position: absolute;
  top: 48px;
  left: 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.features-slide-link {
  position: absolute;
  bottom: 26px;
  left: 24px;

  display: inline-block;
  padding: 11px 46px 9px 46px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);

  background-color: var(--basic-red);
}

.features-slide-link:hover,
.features-slide-link:focus {
  background-color: var(--hover-button);
}

.features-slide-link:active {
  background-color: var(--special-error);
}

.slider-controls {
  position: absolute;
  top: 220px;
  left: 295px;
  z-index: 20;

  display: flex;
  justify-content: space-between;
  width: 30px;
}

.slider-controls button {
  width: 10px;
  height: 10px;
  padding: 0;
  
  background-color: var(--white);
  border: 2px solid var(--white);
  border-radius: 50%;
  cursor: pointer;
} 

.slide-prv {
  position: absolute;
  top: 122px;
  left: 24px;
  width: 22px;
  height: 40px;

  background-image: url("../img/svg/icon-left.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  }
  
  .slide-next {
  position: absolute;
  top: 122px;
  left: 578px;
  width: 22px;
  height: 40px;

  background-image: url("../img/svg/icon-right.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  }
  
.slider-list {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: none;
}

.slider-current {
  display: block;
}

/*popular product*/

.product {
  margin-bottom: 70px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-bottom: 20px;

  background-color: var(--special-greylight);
}

.popular-product-title {
  padding: 0;
  margin: 0;
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 28px;
  
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--special-adress);
}

.popular-product-link {
  width: 192px;
  margin: 0;
  padding: 0;
  padding-bottom: 9px;
  padding-top: 11px;
  margin-right: 14px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);

  background-color: var(--basic-red);
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}

.product-item {
  position: relative;

  display: inline-block;
  width: 220px;

  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
 
  background-color: var(--basic-white);
  border: 1px solid var(--light-grey);
  box-sizing: border-box;
}

.product-item .flag{
  position:absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 67px;
  font-size: 0;
  overflow: hidden;
  z-index: 20;
}

.product-item .flag-new{
  background-image: url("../img/png/Каталог-new.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.product-item:hover {
  box-shadow: 0 4px 20px 0 var(--black-halfopacity);
}

.product-basket-actions {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  display: none;
  width: 100%;
  padding: 40px 0;

  background-color: var(--basic-white);
}

.product-item:hover .product-basket-actions,
.product-item:focus .product-basket-actions {
  display: block;
}

.product-item .product-basket-image {
  width: 184px;
  height: 164px;
}

.product-item img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 164px;
  padding-left: 36px;
  padding-top: 2px;
  object-fit: contain;

  background-color: var(--basic-white);
}

.product-item--first img {
  padding-left: 18px;
}

.product-actions-buy {
  position: relative;
  width: 135px;
  margin: 0 auto 7px auto;
  padding: 10px 20px;
 
  background-color: var(--basic-green);
  box-shadow: inset 0 -3px 0 var(--special-darkgreen);
}

.product-actions-buy::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 25px;
  width: 15px;
  height: 15px;
  background-image: url(../img/svg/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
  }

.product-actions-bookmark {
  width: 135px;
  margin: 0 auto 7px auto;
  padding: 10px 20px;
  
  color: var(--special-adress);

  background-color: var(--basic-white);
  border: 3px solid var(--basic-green);
}

.product-actions-buy:hover,
.product-actions-buy:focus {
  background-color: var(--special-success);
  box-shadow: inset 0px -3px 0px var(--special-darkgreen);
}

.product-actions-buy:active {
  background-color: var(--basic-darkgreen);
  box-shadow: inset 0 -3px 0 var(--basic-darkgreen);
}

.product-actions-bookmark:hover,
.product-actions-bookmark:focus {
  color: var(--special-adress);

  background-color: var(--basic-white);
  border-color: var(--special-adress);
}

.product-actions-bookmark:active {
  color: var(--special-lightgrey);

  background-color: var(--basic-white);
  border-color: var(--special-lightgrey);
}

.product-basket-title {
  padding: 0 25px;
  margin-top: 14px;
  margin-bottom: 8px;

  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}
  
.product-basket-discount {
  min-height:20px;
  margin-top:8px;
  margin-bottom:10px;

  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: var(--special-grey);
}

.product-basket-price {
  position: relative;
  width: 80px;
  margin: 10px auto;
  padding: 10px 24px;
  margin-bottom: 20px;

  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  
  background-color: var(--basic-red);
  border-radius: 3px;
}

.product-basket-price:after {
  content: '';
  position: absolute;
  top: 0;
  right: -30px;
  width: 0;
  height: 0;
  border: 19px solid var(--basic-white);
  border-left-color: var(--basic-red);
}

/*popular-brands*/

.popular-brands {
  margin-bottom: 50px;
}

.brands-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  text-align: center;
  align-items: center;
  list-style: none;
}

.brands-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  min-height: 145px;
  padding-top: 5px;
  margin-bottom: 20px;

  background-color: var(--basic-white);
  border: 1px solid var(--light-grey);
  box-sizing: border-box;
}

.brands-item:hover,
.brands-item:focus {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.brands-item:active {
  opacity: 0.5;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.brands-item a {
  display: inline-block;
}

/*service*/

.service {
  position: relative;
  margin-bottom: 60px;
  padding-top: 42px;

  background-color: var(--basic-background);
}

.service-title {
  margin-bottom: 24px;

  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}
  
.service-text {
  width: 396px;
  margin-bottom: 70px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.service-slider {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  padding-bottom: 100px;
}

.service-slide-item {
  display: none;
  padding: 0;
  margin: 0;
} 

.service-slide-active {
  display: block;
}

.service-slider-list {
  position: relative;
  margin: 0;
  padding: 0;
  margin-right: 80px;

  list-style: none;
}

.service-slider-list::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 279px;
  top: -40px;
  right: 0;
  background-image: url("../img/png/Object.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.service-slider-item {
  width: 218px;
  padding-top: 14px;
  padding-left: 22px;
  padding-bottom: 18px;

  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);

  background-color: var(--special-adress);
  box-shadow: 0 1px 0 0 var(--special-bluedark),
              0 1px 0 0 var(--special-greyblue) inset;
}

.service-slider-item:hover,
.service-slider-item:focus {
  color: var(--basic-white); 

  background-color: var(--special-bluedark);
  box-shadow: 0 1px 0 0 var(--special-bluedark),
              0 1px 0 0 var(--special-greyblue) inset;   
}

.service-slider-item:active {
  color: var(--special-adress);

  background-color: var(--basic-white);
  box-shadow: 0 1px 0 0 var(--basic-white),
              0 1px 0 0 var(--basic-white) inset;
  
}

.slider-item-active {
  color: var(--special-adress);

  background-color: var(--basic-white);
  box-shadow: 0 1px 0 0 var(--basic-white),
              0 1px 0 0 var(--basic-white) inset;
  
}

.service-slide-title {
  padding: 0;
  margin: 0;
  margin-bottom: 27px;

  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--special-adress);
}

.service-slide-text {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.credit-main {
  position: relative;
  width: 278px;
}
  
.credit-main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 165px;
  width: 465px;
  height: 285px;
  background-image: url("../img/png/service-3.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
  
.service-slide-link {
  position: absolute;
  top: 143px;
  left: 0;

  display: inline-block;
  padding: 10px 45px 9px 45px;

  vertical-align: middle;
  border-radius: 3px;
}

.delivery-main {
  position: relative;
  width: 275px;
}
  
.delivery-main::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 151px;
  width:468px;
  height: 261px;
  background-image: url("../img/png/service-1.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
  
.garanty-main {
  position: relative;
  width: 331px;
}
  
.garanty-main::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 239px;
  width:389px;
  height: 283px;
  background-image: url("../img/png/service-2.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*company-info*/  

.company-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.company-transport {
  width: 460px;
}

.company-title {
  margin: 0;
  margin-bottom: 24px;
  margin-top: 9px;

  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.company-text {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;

  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.company-text--next {
  width: 440px;
  margin-bottom: 4px;
}

.company-list {
  margin: 0;
  padding: 0;
  margin-bottom: 9px;

  list-style: none;
}

.company-item {
  position: relative;
  padding: 0 0 11px 38px;

  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.company-item:before {
  content: '';
  position: absolute;
  top: 11px;
  left: 0;
  width: 25px;
  height: 2px;
  margin-right: 10px;
  background-color: var(--basic-red);
}

.company-link {
  padding: 11px 40px 9px 40px;
  margin: 0;
}

.company-contacts {
  width: 300px;
}

.contacts-map {
  display: inline-block;
  margin: 0;
  margin-bottom: 15px;
  margin-top: 19px;

  vertical-align: middle;
}

.open-modal-link {
  padding: 11px 61px 9px 62px;
}

/* footer */

.main-footer {
  background-color: var(--special-adress);
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
  padding-bottom: 54px;
}

.footer-logo {
  display: inline-block;

  vertical-align: middle;
}
  
.footer-logo img {
  padding: 20px 41px 25px 41px;
  margin: 0;

  text-align: center;

  background-color: var(--basic-red);
  box-shadow: 0 -5px 0 0 rgba(0, 0, 0, 0.24) inset;
}
  
.footer-logo img:active {
  background-color: var(--basic-error);
  box-shadow: 0 -5px 0 0 rgba(0, 0, 0, 0.24) inset;
}

.footer-nav-list {
  display: flex;
  justify-content: space-between;
  width: 547px;
  margin: 0;
  margin-top: 23px;
  margin-bottom: 5px;

  list-style: none;
}

.footer-nav-link {
  display: inline-block;
  padding: 15px 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-background);
}

.footer-nav-link:hover,
.footer-nav-link:focus,
.footer-nav-link--yellow:hover,
.footer-nav-link--yellow:focus {
  text-decoration: underline;
}

.footer-nav-link:active,
.footer-nav-link--yellow:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-nav-items {
  display: flex;
  justify-content: space-between;
  float: right;
  width: 524px;
  margin: 0;
  padding-top: 14px;
  
  list-style: none;
}

.footer-nav-link--yellow {
  display: inline-block;

  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--special-yellowlight);
}

.footer-contacts,
.footer-phone {
  margin: 0;
  margin-left: 5px;

  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-background);
}

.footer-phone {
  display: inline-block;
  vertical-align: middle;
}

.footer-contacts {
  margin-top: 15px;
}

.footer-socials {
  padding-bottom: 30px;
  padding-top: 20px;

  background-color: var(--special-bluedark);
}

.footer-social-inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.copyright {
  width: 227px;

  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.socials-list {
  display: flex;
  align-items: center;

  list-style: none;
}

.socials {
  width: 160px;
  margin: 0;
  margin-left: 123px;
}

.socials-link a {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 44px;
  height: 44px;

  background-color: var(--basic-darkgradient);
  border-radius: 50%;
}

.socials-link a:hover,
.socials-link a:focus ,
.socials-link a:active  {
  background-color: var(--basic-red);
}

.feedback {
  width: 137px;
  margin-left: 131px;
  padding-top: 15px;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}
  
.feedback a,
.developer a {
  display: inline-block;
  color: var(--special-yellowlight);
}
  
.feedback a:hover,
.developer a:hover {
  text-decoration: underline;
}
  
.feedback a:active,
.developer a:active {
  text-decoration: none;
  color: var(--basic-red);
}
  
.developer {
  justify-self: end;
  width: 110px;
  padding-top: 15px;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}
 
/* modal */

.modal,
.modal-cart {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  display: none;
  margin: auto;
  
  background-color: var(--basic-white);
}

.modal-contact {
  width: 620px;
  height: 430px; 
  padding: 0;  

  box-shadow: 0 4px 20px 0 rgba(0, 1, 1, 0.15);
  border-top: 7px solid var(--basic-red);
  box-sizing: border-box;
}

.modal-show {
  display: block;
  z-index: 3;
  
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 4;
}

.modal-close:before,
.modal-close:after {
  content: '';
  position: absolute;
  top: 7px;
  right: 17px;
  width: 5px;
  height: 25px;
  background-color: var(--basic-red);
  transform: rotate(45deg);
}

.modal-close:after {
  transform: rotate(-45deg);
}

.modal-content {
  display: flex;
  flex-wrap: wrap;

  width: 460px;
  margin: 0 auto 32px;
}

.modal-form {
  display: flex;
  flex-wrap: wrap;
  padding-right: 0;
  padding-top: 39px;
}

.modal-form-item {
  margin: 0;
}

.modal-form-item:first-child {
  margin-right: 20px;
  margin-bottom: 13px;
}

.modal-content input {
  width: 220px;
}

.contact-form-label {
  display: inline-block;
  margin-bottom: 11px;

  font-family: 'Cuprum', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  vertical-align: middle;
  color: var(--basic-black);
}

.modal-form textarea {
  width: 460px;
  padding-left: 10px;
}

.modal-content input,
.modal-content textarea {
  display: flex;
  flex-wrap: wrap;
  
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--special-grey);

  border: 2px solid var(--basic-greylight);
  box-sizing: border-box;
  border-radius: 2px;
}

.modal-form input[type="text"] {
  padding: 7px 8px 7px 12px;
}
  
.modal-form input[type="email"] {
  padding: 7px 10px 7px 12px;
}

.modal-footer {
  padding: 37px 80px 37px 80px;
  background-color: var(--feedback-color);
}

.button-form {
  border: none;
  padding: 11px 199px 10px 199px;
}

/* Animations */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
/* map */

.map-popup {
  display: none;
}

.map-popup-content {
  position: relative;
  width: 943px;
  height: 449px;
  
  box-shadow: 0 4px 20px 0 var(--special-blackopacity);
  border-top: 7px solid var(--basic-red);
  box-sizing: border-box;
}

.map-modal-show {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: block; 
  margin: auto;
  width: 943px;
  height: 449px;
  z-index: 3;
}

.map-popup img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 943px;
  height: 449px;
  margin: 0;
}

.map-popup iframe {
  position: relative;
  z-index: 2;
  border: none;
}

/* catalog */


/* header */

.header-catalog {
  margin-bottom: 0;
}

.catalog--bar {
  padding-left: 33px;
  padding-right: 22px;

  background-color: var(--basic-red);
}

.user-catalog {
  position: relative;
  justify-self: end;
  width: 299px;
  
  text-align: center;
}

.user-catalog-link {
  position: relative;

  display: inline-block;
  padding-left: 56px;
  padding-right: 57px;
  padding-top: 14px;
  padding-bottom: 10px;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  vertical-align: middle;
  color: var(--basic-black);

  background-color: var(--basic-white);
}

.user-icon svg {
  position: absolute;
  top: 15px;
  left: 15px;
}

.user-catalog-link-output svg {
  position: absolute;
  top: 16px;
  right: 17px;
}

.user-icon:hover path,
.user-icon:focus path,
.user-catalog-link-output:hover path,
.user-catalog-link-output:focus path {
  fill: var(--basic-grey);
}

.user-icon:active path,
.user-catalog-link-output:active path,
.user-catalog-link:active {
  fill: var(--basic-greylight);
  color: var(--basic-greylight);
}

.user-catalog-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: 5px;
  margin-left: 44px;
  margin-right: 45px;
}
  
.user-catalog-item:first-child {
  list-style: none;
}
  
.user-catalog-item:last-child {
  padding-left: 3px;
}

.user-catalog-item a {
  display: inline-block;
  
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  color: var(--basic-darkblue);
}

.user-catalog-item a:hover,
.user-catalog-item a:focus {
  color: var(--basic-red);
}
    
.user-catalog-item a:active {
  color: var(--basic-greylight);
}  

/* breadcrumbs */

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 21px;

  list-style: none;
}

.breadcrumbs-item a {
  display: inline-block;
  padding: 1px 0 21px;
  
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  vertical-align: middle;
  color: var(--basic-black);
}

.breadcrumbs-item img {
  margin-top: 3px;
}

.breadcrumbs-arrow {
  position: relative;
}
  
.breadcrumbs-item:first-child {
  margin-right: 41px;
}
  
.breadcrumbs-arrow::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -26px;
  width: 6.52px;
  height: 10.3px;
  background-image: url("../img/svg/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog {
  margin-bottom: 60px;
}  

.catalog-title {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  padding-top: 28px;
  padding-bottom: 30px;
  padding-left: 29px;

  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--special-adress);

  background-color: var(--basic-lightwhite);
}

/* filters */

.catalog-inner {
  display: grid;
  grid-template-columns: 220px 1fr;
  column-gap: 20px;
  width: 220px;
}

.filter-title {
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.filter-header-title{
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 18px; 

  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  
  background-color: var(--basic-beige);
}

.product-list-catalog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

.filter {
  margin: 0;
  padding: 0;
  border: none;
}

.range-controls {
  position: relative;
  min-height: 41px;
  margin-bottom: 9px;
  margin-top: 11px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: var(--basic-beige);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background-color: var(--filter-range);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background-color: var(--filter-control);
}

.range-controls .toggle {
  position: absolute;
  top: 28px;
  left: 0;
  padding: 2px;

  border: 8px solid var(--basic-white);
  background-color: var(--filter-toggle);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--filter-shadow);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  padding-top: 2px;
}

.price-controls label {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--filter-price);
}

.price-controls input {
  width: 95px;
  margin-bottom: 40px;
  padding: 0;
  padding: 10px 0;
  
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  text-align: center;
 
  border: none;
  background-color: var(--basic-beige);
  border-radius: 5px;
}

.price-controls-max {
  position: relative;
}

.price-controls-max::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  top: 16px;
  left: -20px;
  background-color: var(--basic-black);
}

.filter-brand .filter-title {
  margin-bottom: 16px;
}

.filter-supply .filter-title {
  margin-bottom: 25px;
}

.filter-brands-list,
.filter-supply-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-brands-list {
  margin-bottom: 47px;
}

.filter-supply-list {
  margin-bottom: 40px;
}

.filter-brands-item,
.filter-supply-item {
  margin-bottom: 20px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter-brands-item label,
.filter-supply-item label {
  position: relative;
  display: block;
  padding-left: 35px;

  cursor: pointer;
}

.filter-input[type=checkbox]~label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -3px;
  width: 27px;
  height: 23px;
  background-image: url(../img/png/checkbox-off.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-input[type=checkbox]:checked~label::before {
  background-image: url(../img/png/checkbox-on.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-input[type=checkbox]:hover + label::before,
.filter-input[type=checkbox]:focus + label::before {
  border: 2px solid var(--special-darkwhite);
}

.filter-input[type=radio]:hover + label::before,
.filter-input[type=radio]:focus + label::before {
  border: 2px solid var(--special-darkwhite);
  border-radius: 50%;
}

.filter-input[type=radio]~label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -3px;
  width: 27px;
  height: 27px;
  background-image: url(../img/png/radio-off.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-input[type=radio]:checked~label::before {
  background-image: url(../img/png/radio-on.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-input:disabled + label::before {
  color: var(--filter-checkbox);
  cursor: default;
  opacity: 0.4;
  }
  
.filter-input:disabled + label {
  color: var(--filter-checkbox);
  cursor: default;
}

.catalog-button {
  padding: 9px 79px 9px 78px;
  
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-black);

  background-color: var(--basic-white);
  border: 1px solid var(--basic-whitegrey);
  box-sizing: border-box;
}

/* sort */

.sorting {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
  margin: 0;
  padding: 0;

  background-color: var(--basic-beige);
}
  
.sorting p {
  margin: 0;
  padding: 0;
  padding-top: 8px;
  padding-left: 21px;
  padding-bottom: 10px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase; 
}
  
.sorting__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: 140px;

  list-style: none;
}
  
.sorting__item button {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-opacityblack);

  background-color: transparent;
  border: none;
  border-bottom: 1px dotted var(--basic-red);
  
  cursor: pointer;
}
  
.sorting__item:nth-child(1) {
  margin-right: 70px;
}
  
.sorting__item:nth-child(2) {
  margin-right: 66px;
}
  
.sorting__item:nth-child(3) {
  margin-right: 46px;
}
  
.sorting__item:nth-child(4) {
  margin-right: 20px;
}
  
.dir-active path {
  fill: var(--basic-red);
}
  
.dir:hover path,
.dir:focus path {
  fill: var(--basic-black);
}
  
.dir:active path {
  fill: var(--basic-red);
}
  
.sorting__item button:hover,
.sorting__item button:focus {
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}
  
.sorting__item:active button {
  color: var(--basic-red);
  border-bottom: none;
}
 
.sorting__item_active button {
  color: var(--basic-red);
  border-bottom: none;
}

.catalog-product {
  margin-bottom: 24px;
}  

.product-item-catalog {
  margin-bottom: 20px;
}

  /* paginator */

.catalog-pagination {
  width: 284px;
}
    
.catalog-pagination-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-pagination-link a {
  display: inline-block;
  padding:  9px 15px 9px 14px;
  margin-right: 10px;
  
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  color: var(--basic-black);

  border: 1px solid var(--basic-whitegrey);
  box-sizing: border-box;
  border-radius: 2px;
}
  
.catalog-pagination-link:last-child a {
  padding: 9px 30px 9px 32px;
  margin-right: 0;
}
  
.catalog-pagination-link:last-child {
  text-transform: uppercase;
}
  
.catalog-pagination-link a:hover,
.catalog-pagination-link a:focus {
  border: 1px solid var(--basic-greylight); 
}
  
.catalog-pagination-link a:active {
  border: 1px solid var(--basic-red); 
}
  
.catalog-pagination-link-current a, 
.catalog-pagination-link-current a:hover,
.catalog-pagination-link-current a:focus,
.catalog-pagination-link-current a:active {
  color: var(--basic-white);
  background-color: var(--basic-red);
}
  
.catalog-promo {
  padding-top: 64px;
  padding-bottom: 70px;

  background-color: var(--basic-background);
}

.catalog-promo-title {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;

  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.catalog-promo-text {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

/* modal-cart */

.modal-cart-content {
  width: 620px;
  height: 282px;
  padding: 0;
  padding-top: 66px;

  box-shadow: 0 4px 20px 0 rgba(0, 1, 1, 0.15);
  border-top: 7px solid var(--basic-red);
  box-sizing: border-box;
}

.modal-cart-show {
  display: block;
  z-index: 3;
}

.modal-cart-content p {
  position: relative;
  padding: 0;
  margin-bottom: 67px;
  padding-left: 84px;

  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: var(--basic-black);
}
  
.modal-cart-content p::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 81px;
  width: 66px;
  height: 66px;
  background-image: url("../img/svg/icon-mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-footer-cart {
  display: flex;
  justify-content: space-between;
  padding: 37px 112px 37px 114px;
}

.modal-cart__checkout {
  padding: 0;
  margin: 0;
  padding: 11px 46px 9px 47px;
}
    
.modal-cart__continue {
  padding: 0;
  margin: 0;
  padding: 11px 31px 9px 32px;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);

  background-color: var(--basic-white);
}